<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/sidebar.css">
    <title>Admin Schedule</title>
</head>

<body>
    <nav class="sidebar">
        <div class="text-center">
            <img src="../../assets/img/admin.png" class="img-thumbnail" alt="..." width="35%">
        </div>
        <a href="../admin/admin_dashboard.html">Dashboard</a>
        <a href="../admin/admin_schedule.html" class="active">Schedule</a>
        <a href="">Tickets</a>
        <a href="">Log out</a>
    </nav>

    <header>
        <h1 class="display-4 text-center">Schedule Maintenance</h1>
    </header>

    <main class="content">
        <p>Welcome to Quintessa trip</p>
        <section class="row">
            <article class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="img-thumbnail" src="../../assets/img/schedulejpg.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">New Schedule</h5>
                        <p class="card-text">Add new schedule for airlines.</p>
                        <a href="add_schedule.html" class="btn btn-danger">Add</a>
                    </div>
                </div>
            </article>
            <article class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="img-thumbnail" src="../../assets/img/view.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">List Schedule</h5>
                        <p class="card-text">View or modify the schedule</p>
                        <a href="view_schedule.html" class="btn btn-danger">View</a>
                    </div>
                </div>
            </article>
            <article class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="img-thumbnail" src="../../assets/img/dashboard.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dashboard Panel</h5>
                        <p class="card-text">Go to dashboard.</p>
                        <a href="../admin/admin_dashboard.html" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>

</html>