<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flights Schedule</title>
    <script src="../service/StorageManager.js"></script>
</head>

<body>
    <table>
        <thead>Flights available.</thead>
        <tr>
            <th>Flight ID</th>
            <th>Date</th>
            <th>Departure place and time</th>
            <th>Arrival place and time</th>
            <th>Price (Rs)</th>
            <th></th>
        </tr>
        <tr>
            <td id="flightId1">GA645</td>
            <td id="flightDate1">05/05/2021</td>
            <td id="departureData1">New Delhi (10:00)</td>
            <td id="arrivalData1">Chennai (19:00)</td>
            <td id="flightFare1">4800</td>
            <td>
                <button id="bookButton1">Book</button>
            </td>
        </tr>
        <tr>
            <td id="flightId2">IG570</td>
            <td id="flightDate2">07/05/2021</td>
            <td id="departureDate2">Maharastra (10:00)</td>
            <td id="arrivalDate2">Chennai (12:00)</td>
            <td id="flightFare2">4200</td>
            <td>
                <button id="bookButton2">Book</button>
            </td>
        </tr>
    </table>
    <script>
        let flightIds = { id1: 'GA645', id2: 'IG570' };
        let flightFares = { flightFare1: 4800, flightFare2: 4200 };
        let bookButton1 = document.getElementById('bookButton1');
        let bookButton2 = document.getElementById('bookButton2');

        //Button event listener for booking button 1.
        bookButton1.addEventListener("click", function () {
            StorageManager.saveToStorage("FlightID", flightIds.id1);
            StorageManager.saveToStorage("FlightFare", flightFares.flightFare1);
            //window.location.assign('PriceEstimation.html');
        });

        //Button event listener for booking button2.
        bookButton2.addEventListener("click", function () {
            StorageManager.saveToStorage("FlightID", flightIds.id2);
            StorageManager.saveToStorage("FlightFare", flightFares.flightFare2);
            //window.location.assign('PriceEstimation.html');
        });
    </script>
</body>

</html>