<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ticket</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="D:\airticketapp-integrated\assets\css\ticket.css">
    <script src="D:\airticketapp-integrated\service\StorageManager.js"></script>
</head>

<body>
    <table class="body-wrap">
        <tbody>
            <tr>
                <td></td>
                <td class="container" width="600">
                    <div class="content">
                        <table class="main" width="100%" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="content-wrap aligncenter">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td class="content-block">
                                                        <h2>Thank you for using Quintessa trip</h2>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="content-block">
                                                        <table class="invoice">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <h1>Ticket</h1>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table class="invoice-items" cellpadding="0" cellspacing="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>Flight ID</td>
                                                                                    <td class="alignright">
                                                                                        <span id="flightId"></span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Seat Type</td>
                                                                                    <td class="alignright">
                                                                                        <span id="seatType"></span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Tickets Booked</td>
                                                                                    <td class="alignright">
                                                                                        <span id="noOfTickets"></span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Adult</td>
                                                                                    <td class="alignright">
                                                                                        <span id="adult"></span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Children</td>
                                                                                    <td class="alignright">
                                                                                        <span id="children"></span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Infant</td>
                                                                                    <td class="alignright">
                                                                                        <span id="infant"></span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td width="80%">Price(Rs)</td>
                                                                                    <td class="alignright">
                                                                                        <span id="price"></span>
                                                                                        <br>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="alignleft">
                                                        <button class="btn btn-warning" id="pay">Pay</button>
                                                        <br>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="alignleft">
                                                        <button class="btn btn-info" id="printTicket">Print Ticket</button>
                                                        <br>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="content-block">
                                                        Quintessatrip.com
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="footer">
                            <table width="100%">
                                <tbody>
                                    <tr>
                                        <td class="aligncenter content-block">Questions? Email
                                            <a href="mailto:">support@quintessatrip.inc</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <script>
        let flightId = StorageManager.getFromStorage("FlightID");
        let seat = JSON.parse(StorageManager.getFromStorage('Seat'));
        let ticketBooked = StorageManager.getFromStorage('TicketCount');
        let adults = StorageManager.getFromStorage('Adults');
        let children = StorageManager.getFromStorage('Children');
        let infant = StorageManager.getFromStorage('Infant');
        let price = StorageManager.getFromStorage('Price');

        document.getElementById('flightId').innerHTML = flightId;
        document.getElementById('seatType').innerHTML = seat;
        document.getElementById('noOfTickets').innerHTML = ticketBooked;
        document.getElementById('adult').innerHTML = adults;
        document.getElementById('children').innerHTML = children;
        document.getElementById('infant').innerHTML = infant;
        document.getElementById('price').innerHTML = price;

        let payButton = document.getElementById('pay');
        let printButton = document.getElementById('printTicket');

        payButton.addEventListener("click", function () {
            alert("Payment still on progress");
        });

        printButton.addEventListener("click", function () {
            printButton.hidden = false;
            if (!printButton.hidden) {
                printButton.hidden = true;
            }
            window.print();
        });
    </script>
</body>

</html>